.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h1 {
    font-weight: normal;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.login-form > * {
    margin: 5px 0 5px 0;
    width: 100%;
    box-sizing: border-box;
}