<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - NuMail Client</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings.css') }}">

</head>
<body>
    <div class="header">
        <h1>NuMail Client</h1>
        <div class="header-right">
            <a href="/settings" class="button">Settings</a>
            <a href="/logout" class="button">Logout</a>
        </div>
    </div>
    <div class="main">
        <div class="settings-center">

        </div>
    </div>
</body>
</html>