<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - NuMail Client</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>

</head>
<body>
    <div class="header">
        <h1>NuMail Client</h1>
    </div>
    <div class="main">
        <div class="login">
            <h1>Login</h1>
            <form class="login-form" id="loginForm">
                <input type="text" placeholder="Email" name="email">
                <input type="password" placeholder="Password" name="pwd">
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

    <script>
        let form = document.getElementById("loginForm");
        form.addEventListener("submit", async function(e) {
            e.preventDefault();
            const formData = new FormData(form);
            fetch("/login", {
                method: "POST",
                // Set the FormData instance as the request body
                body: formData,
            }).then(response => {
                console.log(response.json())
            }).catch(error => console.log(error));
        });
    </script>
</body>
</html>